.body-wrapper {
  height: auto;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

.basket-icon {
  position: fixed;
  top: 2.5%;
  right: 10%;
  height: 55px;
  cursor: pointer;
}
