.card-main-wrapper {
  height: 450px;
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  margin-top: 100px;
  padding-bottom: 150px;
}

.card-box-wrapper {
  width: 500px;
}

.card-box-wrapper > * {
  margin-bottom: 20px;
}

.card-wrapper {
  height: 250px;
  background-color: green;
  border-radius: 25px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.card-logo-img {
  height: 50px;
}

.card-data-wrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.card-holder-wrapper {
  padding-left: 15px;
  width: 350px;
  height: 50px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.card-holder-wrapper-data {
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.card-input-number-holders-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cvv-input {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.cvv-input {
  width: 50px;
  border: 2px solid black;
}

.cvv-input-wrappers {
  text-align: right;
}

.card-holder-text {
  font-size: 14px;
}

.card-holder-name-user {
  font-size: 20px;
}

.card-logo-brand-wrapper {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
