.cards-input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.card-input-expores-cvv-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-expires-cvv-input {
  width: 77px;
  border: 2px solid black;
  padding-left: 10px;
  outline: none;
}

.card-input-number-holder {
  padding-left: 10px;
  border: 2px solid black;
  outline: none;
}

.card-input-incorect-value-number-holder {
  padding-left: 10px;
  border: 2px solid red;
  outline: none;
}

.card-input-incorect-expires {
  width: 77px;
  border: 2px solid red;
  padding-left: 10px;
  outline: none;
}
