.basket-item-wrapper {
  width: 90%;
  height: 75px;
  margin-top: 30px;
  margin-bottom: 10px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
}

.basket-quanity-price-wrapper {
  display: flex;
  width: 350px;
  align-items: center;
  justify-content: space-between;
}

.basket-product-name {
  padding-left: 25px;
  font-size: 20px;
}

.basket-item-price-end {
  width: 100px;
  font-size: 20px;
} 

.basket-item-quanity {
  width: 85px;
  border: 2px solid black;
}

.basket-item-change-quanity {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  font-size: 25px;
}

.basket-item-icon-add-quanity {
  font-size: 27px;
  cursor: pointer;
}

.basket-item-icon-add-quanity:hover {
  color: green;
}

.basket-item-icon-delete {
  color: red;
  font-size: 27px;
  cursor: pointer;
}

.basket-sum-buy-wrapper {
  width: 90%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket-button-buyr {
  height: 50px;
  width: 150px;
  font-size: 17px;
  background-color: green;
  border: 2px solid black;
  box-shadow: 4px 4px rgba(0,0,0,1);
}
